@charset "ISO-8859-1";

:root {
	--primary: #2196f3;
	--white: #ffffff;
	--accent: #ff9800;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
}

table {
	width: 100%;
}

table thead tr {
	background-color: var(--primary);
	color: var(--white);
	font-weight: bold;
}

table thead th {
	padding: 8px 0px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

table td {
	padding: 5px;
}

table tbody tr:nth-child(even) {
	background-color: #EEE;
}

input:focus::placeholder {
	color: var(--white);
	opacity: 70%;
}

header {
	background-image: url('../images/football_banner.jpg');
	height: 201px;
	background-size: 100% 100%;
}

nav {
	background-color: var(--primary);
	color: var(--white);
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
	margin: 0px;
	padding: 1rem;
	justify-content: space-evenly;
}

nav li {
	list-style: none;
	padding: 5px 10px;
}

nav li a {
	color: var(--white);
	text-decoration: none;
	padding: 5px 10px;
	transition: 0.5s;
	border-radius: 5px;
}

nav li a:hover {
	background-color: var(--accent);
	text-decoration: none;
	padding: 5px 10px;
	transition: 0.5s;
}

footer {
	background-color: var(--primary);
	color: var(--white);
	padding: 10px;
}

.code {
	font-family: monospace;
	margin-left: 15px;
}

.container {
	max-width: 1024px;
	margin: auto;
	margin-bottom: 25px;
}

.container a, .container a:visited {
	color: var(--primary);
	text-decoration: none;
}

.container a:hover {
	color: var(--accent);
}

.container .detalle {
	margin: 4px 0px;
}

.container form {
	margin: 0 auto;
	width: 100%;
	margin: 0 auto 2rem auto;
}

.container label {
	color: var(--primary);
}

.container form input{
	margin: 1px 0px;
}

.container form input[type="text"]:focus, .container form input[type="number"]:focus {
	background-color: var(--primary);
	color: var(--white);
}

.container form input[type="submit"] {
	padding: 2px 15px;
	background-color: var(--primary);
	color: var(--white);
	transition: 0.5s;
	border-radius: 5px;
	border: 1px solid;
}

.container form input[type="submit"]:hover {
	background-color: var(--accent);
	color: var(--white);
	transition: 0.5s;
	cursor: pointer;
}

.container .button, .container .button:visited {
	padding: 10px;
	color: var(--white);
	background-color: var(--primary);
	border-radius: 5px;
	border: 1px solid #219686;
	transition: 0.5s;
}

.container .button:hover {
	background-color: var(--accent);
	transition: 0.5s;
	cursor: pointer;
	border-color: #945800;
	box-shadow: 0px 0px 3px 4px #CCC;
}

.container .button:active {
	background-color: #945800;
	cursor: wait;
	border-color: #333;
	box-shadow: 0px 0px 3px 4px #aaaaaa;
}

.center {
	display: flex;
	justify-content: space-between;
}

.content {
	border-radius: 10px;
	border: 1px solid var(--primary);
	padding: 30px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
	background-color: white;
	opacity: 1;
}

.content div {
	display: flex;
	justify-content: space-evenly;
}

.content .button:hover {
	transition: 0s;
	color: var(--white);
}

.content .button {
	transition: 0s;
}

.fade-to-black {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	left: 0;
	top: 0;
	visibility: hidden;
}


.fade-to-black:target {
	visibility: visible;
}

.form-group {
	display: flex;
	justify-content: center;
}

.form-group label {
	width:30%;
}

.form-group input[type='number'], .form-group input[type='text'] {
	width:30%;
}
